body {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
}
/* Change header/footer font size */
.ui-header .ui-title, .ui-footer .ui-title {
    font-size: calc(1em + 0.5vw);
}

/* Change title clipping */
.ui-header .ui-title {
    margin-left: 1em; margin-right: 1em;
}

/* Info Line */
.info_line{
    color:#eee;
    font-size: calc(.5em + 0.8vw);
    /* background-color: rgb(46, 46, 46) !important; */
}

.class_filename a {
    /*
    color: rgb(255, 255, 255) !important; */
    background-color: rgb(189, 189, 189) !important;
    text-shadow:0 0px 0 !important;
}

.class_top_button {
    color: rgb(255, 255, 255) !important;
}

.class_stop_button {
    color: white !important;
}

/*
*/
.ui-header .ui-title, .ui-footer .ui-title
{
    padding: 0.2em !important;
}

.class_songname_0 {
    color: rgb(133, 133, 133) !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_1 { /* Ready+Playing */
    color: rgb(255, 255, 255) !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_2 { /* Passthrough */
    color: #ff00ff !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_3 { /* Player Playing*/
    color: #28e1ee !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_4 { /* Random */
    color: #8498fa !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_unknown {
    color: #ffff00 !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

.class_songname_error {
    color: red !important;
    background-color: rgb(46, 46, 46) !important;
    padding: 0 1em 0 1em;
}

/* not working */
.class_qrcode {
    background-color: white !important;
    color: black !important;
}

/* New progress */

.block {
    line-height: 100px;
    font-size: 12px;
    white-space: nowrap;
    margin: 10px 0;
    border-radius: 10px;
    opacity: 1;
  }
   .block progress {
    display: block;
    width: 100%;
    height: 0.8rem;
  }

  /* From https://www.webcodegeeks.com/html5/html5-progress-bar-example/
  */

  /**
   * Cross-browser/Non specific selector
   */

   .custom-progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 5px;

      /* Outer bar */
      border: none;
      border-radius: 18px;
      /* background-color: #4fa153; */
  }

  /**
   * Webkit
   */

  /* Outer bar */
  .custom-progress::-webkit-progress-bar {
      border-radius: 18px;
      background-color: #424242; /* fond*/
  }

  /* Inner bar */
  .custom-progress::-webkit-progress-value {
      border-radius: 18px;
      /* plus de zebra
      background: repeating-linear-gradient(
          135deg,
          #4fa153,
          #4fa153 10px,
          #053510 10px,
          #053510 20px
      ); */
  }

  /**
   * Mozilla
   */

  /* Inner bar */

  .custom-progress::-moz-progress-bar {
      border-radius: 18px;
      background: repeating-linear-gradient(
          135deg,
          #4fa153,
          #4fa153 10px,
          #053510 10px,
          #053510 20px
      );
  }

  /**
   * IE/Edge
   */

   /* Inner bar */

  .custom-progress::-ms-fill {
      border-radius: 18px;
      background: repeating-linear-gradient(
          135deg,
          #4fa153,
          #4fa153 10px,
          #053510 10px,
          #053510 20px
      );
  }
