[Desktop Entry]
Type=Application
Name=i-love-chopin
Comment=Funny ALSA MIDI playback player for play like Chopin
# Change here your application path
Path=~/I-like-Chopin
Exec=./i-like-chopin.sh
